@model _24_7app.Models.Skills

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Skills</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredSkill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredSkill)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MySkill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MySkill)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
